*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  height                 : 100vh;
}
a, a:focus, a:active, a:hover {
  text-decoration: none;
  color: #fff;
}
.flex {
  display: flex;
}
#intro-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro-container h1 {
  margin: 0 0 32px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form .input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  position: relative;
}
form .input-container label {
  font-size: 18px;
}
form .input-container input,
form .input-container select {
  margin-left: 48px;
  width: 300px;
  height: 42px;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 15px;
  border: solid 1px #757575;
}
form button {
  height: 32px;
  margin-bottom: 12px;
  font-size: 16px;
  cursor: pointer;
}
#sign-in-form > span {
  text-align: center;
}
#swap-form {
  cursor: pointer;
  text-decoration: underline;
}
.hide {
  display: none;
}
.toggle-pass {
  width: 25px;
  cursor: pointer;
  position: absolute;
  right: 12px;
}
header {
  background: black;
  padding: 18px;
  display: flex;
}
#logout {
  background: #fff;
  color: black;
  padding: 2px 8px;
  border-radius: 4px;
  margin-left: auto;
}
#add-job-form {
  width: 500px;
  margin: auto;
}
#all-jobs-table a {
  color: inherit;
}
.pref-1 {
  background-color: #ffd7008c !important;
}
.pref-2 {
  background-color: #00be0091 !important;
}
.pref-3 {
  background-color: #006dff7a !important;
}
.pref-4 {
  background-color: #d7d6d58c !important;
}
#all-content {
  display: flex;
  width: 100%;
  height: 100%;
}
aside {
  border-right: solid 1px #ababab;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  width: max-content;
}
aside div.user-info {
  margin-bottom: 48px;
  padding: 8px 12px;
}
aside div.user-info h1 {
  margin: 0 0 4px;
  font-size: 32px;
  letter-spacing: 0.5px;
}
aside div.user-info h2 {
  margin: 0;
  color: grey;
  font-size: 20px;
  letter-spacing: 0.3px;
}
.nav-option {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 40px;
  background: #ababab;
  cursor: pointer;
  border: solid transparent;
  border-width: 8px 6px;
}
.nav-option:hover {
  background-color: #cecece;
  border-left-color: #000;
}
.nav-option.active {
  border-left-color: #000;
}
.main-section {
  display: none;
  width: 100%;
}
.main-section.active {
  display: block;
}