:root {
  --yellow: #f6e16f;
  --green: #3ad73a;
  --grey: #ddd;
  --grey_light: #ececec;
  --red: #da4707;
  --blue: #319eea;
  --blue_light: #73afff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  height                 : 100vh;
  overflow: hidden;
}
a, a:focus, a:active, a:hover {
  text-decoration: none;
  color: #fff;
}
.flex {
  display: flex;
}
#intro-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro-container h1 {
  margin: 0 0 32px;
  text-align: center;
}
#main-img {
  max-width: 250px;
  margin: -100px 0 24px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form .input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  position: relative;
}
form .input-container label {
  font-size: 18px;
}
form .input-container input,
form .input-container select {
  margin-left: 48px;
  width: 300px;
  height: 42px;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 15px;
  border: solid 1px #757575;
}
form button {
  height: 32px;
  margin-bottom: 12px;
  font-size: 16px;
  cursor: pointer;
}
#sign-in-form > span {
  text-align: center;
}
#swap-form {
  cursor: pointer;
  text-decoration: underline;
}
.hide {
  display: none !important;
}
.toggle-pass {
  width: 25px;
  cursor: pointer;
  position: absolute;
  right: 12px;
}
header {
  background: black;
  padding: 18px;
  display: flex;
}
#logout {
  background: #fff;
  color: black;
  padding: 2px 8px;
  border-radius: 4px;
  margin-left: auto;
}
#add-job-form {
  width: 500px;
  margin: auto;
}
#all-jobs-table a {
  color: inherit;
}
#all-jobs-table tbody tr {
  position: relative;
  height: 54px;
}
.no-break-cell span {
  display: block;
  min-width: max-content;
}
.status-cell,
.response-cell {
  min-width: 150px;
}
.status-cell .job-text,
.response-cell .job-text {
  cursor: pointer;
}
tr.interest-1 {
  background-color: var(--yellow) !important;
}
tr.interest-2 {
  background-color: var(--green) !important;
}
tr.interest-3 {
  background-color: var(--blue_light) !important;
}
tr.interest-4 {
  background-color: var(--grey) !important;
}
.status-cell.Not.Started.Yet {
  background-color: var(--grey);
}
.status-cell.In.Progress {
  background-color: var(--blue);
}
.status-cell.Submitted {
  background-color: var(--green);
}
.response-cell.No.Response {
  background-color: var(--grey);
}
.response-cell.Interviewing {
  background-color: var(--blue);
}
.response-cell.Offer.Made {
  background-color: var(--green);
}
.response-cell.Declined {
  background-color: var(--red);
}

#all-jobs-table.hide-colors .odd .response-cell,
#all-jobs-table.hide-colors .odd .status-cell,
#all-jobs-table.hide-colors .odd.interest-1,
#all-jobs-table.hide-colors .odd.interest-2,
#all-jobs-table.hide-colors .odd.interest-3,
#all-jobs-table.hide-colors .odd.interest-4
{
  background-color: var(--grey_light) !important;
}
#all-jobs-table.hide-colors .even .response-cell,
#all-jobs-table.hide-colors .even .status-cell,
#all-jobs-table.hide-colors .even.interest-1,
#all-jobs-table.hide-colors .even.interest-2,
#all-jobs-table.hide-colors .even.interest-3,
#all-jobs-table.hide-colors .even.interest-4
{
  background-color: var(--grey) !important;
}
table.dataTable tbody tr>.dtfc-fixed-left {
  background-color: inherit !important;
}
table.dataTable tbody tr>.dtfc-fixed-left.cast-shadow {
  box-shadow: 5px 10px 10px 0px rgb(0 0 0 / 20%);
}
table.dataTable tbody tr:first-child>.dtfc-fixed-left.cast-shadow {
  box-shadow: 5px 2px 10px 0px rgb(0 0 0 / 20%);
}
#all-content {
  display: flex;
  width: 100%;
  height: 100%;
}
#nav {
  box-shadow: 0 0 16px #00000042;
  min-width: 200px;
  width: max-content;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  z-index: 20;
  background: #fff;
}
#nav div.user-info {
  margin-bottom: 48px;
  padding: 8px 12px;
}
#nav div.user-info h1 {
  margin: 0 0 4px;
  font-size: 32px;
  letter-spacing: 0.5px;
}
#nav div.user-info h2 {
  margin: 0;
  color: #808080;
  font-size: 14px;
  letter-spacing: 0.3px;
}
#nav div.user-info * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.nav-option {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 40px;
  background: #ababab;
  cursor: pointer;
  border: solid transparent;
  border-width: 8px 6px;
}
.nav-option:hover {
  background-color: #cecece;
  border-left-color: #000;
}
.nav-option.active {
  border-left-color: #000;
}
#main-section-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.main-section {
  display: none;
  width: max-content;
  height: fit-content;
  padding: 24px;
  margin: auto;
}
.main-section.active {
  display: block;
}
.main-section.all-jobs {
  width: 100%;
  height: 100%;
}
.delete-btn {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  cursor: pointer;
  background: #fff;
  padding: 4px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: none;
  justify-content: center;
  align-content: center;
}
#all-jobs-table.onMobile .delete-btn,
#all-jobs-table tbody tr:hover .delete-btn {
  display: flex !important;
}
.swal-delete-job .swal-button--confirm {
  background-color: #de4e4e;
}
.swal-delete-job .swal-button--confirm:hover {
  background-color: #c94a4a;
}
.job-input {
  background: transparent;
  border: none;
  font-size: 16px;
}
.job-input:focus {
  background-color: #fff;
}
.contact-item-container {
  display: flex;
}
.contact-item-container label {
  font-weight: bold;
  margin-right: 6px;
}
.main-section.settings {
  width: 100%;
  min-height: 100vh;
  background-color: #00000090;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex !important;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
  z-index: 50;
  height: 100vh;
  max-height: 100vh;
}
.viewing {
  opacity: 1 !important;
  pointer-events: unset !important;
}
#settings-main {
  background: #fff;
  border-radius: 12px;
  padding: 24px 0;
  min-height: 500px;
  min-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 34px 12px rgb(0 0 0 / 20%);
  max-height: 90%;
}
#settings-container {
  width: 100%;
  padding: 0 24px;
  overflow-y: auto;
}
.preference-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.preference-wrapper .toggle {
  cursor: pointer;
  height: 30px;
  background-color: #bebebe;
  width: 60px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 2px;
  margin-left: 42px;
  transition: background-color ease 0.3s;
}
.preference-wrapper .toggle .circle {
  position: relative;
  height: 100%;
  width: 26px;
  background: #fff;
  border-radius: 50%;
  margin-left: 0;
  transition: margin 0.3s ease;
}
.preference-wrapper .toggle.on {
  background-color: #20d720;
}
.preference-wrapper .toggle.on .circle {
  margin-left: calc(100% - 26px);
}
#settings-main {
  position: relative;
}
#settings-main .close-btn {
  position: absolute;
  right: 24px;
  cursor: pointer;
}
.job-input.notes {
  padding: 6px;
  width: max-content;
  max-width: 300px;
}
.job-input.salary {
  margin-left: 10px;
}
.job-input.companyName {
  width: 170px;
}
#job-link-preview {
  position: absolute;
  min-width: 300px;
  max-width: 300px;
  height: 75px;
  background: #fff;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  border-radius: 4px;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loader {
  position: absolute;
  border-radius: 50%;
  border: 6px solid #f3f3f3;
  width: 50px;
  height: 50px;
  animation: rotate 1s linear infinite;
  margin: auto;
  display: none;
}
#loader.interest-1 {
  border-top-color: var(--yellow);
}
#loader.interest-2 {
  border-top-color: var(--green);
}
#loader.interest-3 {
  border-top-color: var(--blue_light);
}
#loader.interest-4 {
  border-top-color: var(--grey);
}
#job-link-preview.loading #loader {
  display: block;
}
#job-link-preview.loading .info {
  opacity: 0;
  pointer-events: none;
}
#job-link-preview .header {
  display: flex;
  width: 100%;
  height: 100%;
}
#job-link-preview .info {
  display: flex;
  cursor: pointer;
  margin-right: auto;
  align-items: center;
}
#job-link-preview .header img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
#job-link-preview .header img.copy {
  margin-right: 0 !important;
}
#job-link-preview .header .title {
  margin: auto ;
  display: flex;
  flex-direction: column;
  max-width: 170px;
}
#job-link-preview .header .title h1 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
}
#job-link-preview .header .title h1,
#job-link-preview .header .title span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#job-link-preview .header .title span {
  color: grey;
}
#job-link-preview .header .options {
  margin-left: 12px;
}
#job-link-preview .header .options img {
  width: 20px;
  height: auto;
  cursor: pointer;
}
#hamburger-icon {
  display: none;
  position: absolute;
  height: 40px;
  width: auto;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.dataTables_scrollHead {
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
}
.dataTables_scrollBody::-webkit-scrollbar {
  display: none;
}
.dataTables_scrollHeadInner {
  padding-right: 0 !important;
}
.dataTables_scrollBody {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.dt-buttons {
  margin-bottom: 16px;
}
button.dt-button {
  margin-bottom: 0 !important;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollHead {
  width: max-content !important;
  max-width: 100% !important;
  margin: auto !important;
}



@media (max-width: 991px) { 
  
  #all-content {
    flex-direction: column;
  }
  #nav {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 90px;
    align-items: center;
  }
  #nav div.user-info {
    margin: 0 auto 8px 0;
  }
  #nav-options-container {
    display: flex;
    height: 100%;
  }
  .nav-option {
    height: 100%;
  }
  .nav-option:hover {
    background-color: #cecece;
    border-left-color: transparent;
    border-bottom-color: #000;
  }
  .nav-option.active {
    border-left-color: transparent;
    border-bottom-color: #000;
  }
  .main-section {
    padding: 16px;
  }
  .main-section.all-jobs {
    padding: 16px 0;
  }
  .dataTables_scrollBody {
    max-height: calc(100vh - 260px) !important;
  }
  div.dt-buttons {
    margin-left: 16px;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-right: 16px;
  }
  .dataTables_wrapper .dataTables_info {
    padding-left: 0.755em;
  }
}

@media (max-width: 768px) {

  #nav {
    flex-direction: column;
    height: 58px;
    overflow: hidden;
    transition: height ease-in-out 0.4s;
    position: absolute;
  }
  #nav.open {
    height: 100%;
  }
  #nav div.user-info {
    margin-bottom: 0;
  }
  #nav div.user-info h2 {
    display: none;
  }
  #nav-options-container {
    flex-direction: column;
    height: fit-content;
    margin: auto;
  }
  .nav-option {
    height: 75px;
    width: 300px;
    margin-bottom: 12px;
    border-radius: 4px;
  }
  .nav-option:hover ,
  .nav-option.active {
    border-color: transparent;
  }
  #hamburger-icon {
    display: block;
  }
  #main-section-container {
    margin-top: 58px;
  }

  #intro-container {
    padding: 8px;
  }
  #intro-container h1 {
    font-size: 26px;
    text-align: center;
  }
  form .input-container input,
  form .input-container select {
    margin-left: 24px;
    width: 250px;
  }
  .job-input.companyName {
    width: 100px;
  }
  .main-section.all-jobs .dataTables_scrollBody {
    max-height: calc(100vh - 225px) !important;
  }
  
}

@media screen and (max-width: 640px) {
  div.dt-buttons {
    margin: 0;
  }
  .dataTables_wrapper .dataTables_filter {
    margin: .5em 0 12px;
  }
  .main-section.all-jobs.onMobile .dataTables_wrapper .dataTables_filter {
    margin-top: 0 !important;
  }
  .dataTables_wrapper .dataTables_info {
    padding-left: 0;
  }
  .main-section.all-jobs:not(.onMobile) .dataTables_scrollBody {
    max-height: calc(100vh - 260px) !important;
  }

}