<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/users" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>email:</label>
    <input type="text" name="email">
    <label id="password-label">password:</label>
    <input id="password" type="password" name="password">
    <button type="submit">Sign Up</button>
  </form>
</body>

<script>

  const passwordLabel = document.getElementById('password-label');
  const passwordInput = document.getElementById('password');

  passwordLabel.onclick = () => {
    if (passwordInput.type == 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  }
  
</script>

</html>