<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <h1>Name: <%= user.name %> </h1>
  <h1>Email: <%= user.email %> </h1>
  <% if (isSameUser) { %>
    <h1>You are logged in as this user</h1>
  <% } %>
</body>
</html>